// wechat qrcode
.wechat_qrcode{
    width: 420px;
    height: 420px;
    padding: 30px;
    background-color: #fff;
    .close{
        width: 32px;
        height: 32px;
        background: url("../assets/close.png") center no-repeat;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;
        cursor: pointer;
    }
    .qrcode{
        width: 100%;
        height: 300px;
        padding-top: 30px;
        text-align: center;
        overflow: hidden;
    }
    .tips{
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        color: #000;
        text-align: center;
    }
}
.mobile_wechat_qrcode{
    width: 4.5rem;
    height: 4.5rem;
    padding: .3rem;
    background-color: #fff;
    .close{
        width: .32rem;
        height: .32rem;
        background: url("../assets/close.png") center no-repeat;
        background-size: 100%;
        position: absolute;
        top: .3rem;
        right: .3rem;
        z-index: 2;
    }
    .qrcode{
        width: 3rem;
        height: 3rem;
        padding-top: .82rem;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        img{
            width: 100%;
            float: left;
        }
    }
    .tips{
        width: 100%;
        height: .6rem;
        line-height: .6rem;
        font-size: .24rem;
        color: #000;
        text-align: center;
    }   
}