* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: "Arial", "Microsoft Yahei";
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

html {
    height: 100%;
    width: 100%;
}

button {
    border: none;
    outline: none;
}

p {
    margin-bottom: 0;
}

ul,
li {
    list-style: none;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

input,
textarea {
    display: block;
    outline: none;
    resize: none;
}
img{
    width: auto;
    font-size: 0;
}
.shell{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.sz18 {
    font-size: 18px;
}
.w1140 {
    margin: 0 100px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.tr {
    text-align: right;
}
.red_bg{
    background-color: #e50012;
}
.blue_bg{
    background-color: #053a7a;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.red{
    color: #e50012;
}
.line1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}
.line2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}
.line3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}
.layou_fixed{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.fixed_pos{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@import "base/nav.scss";
@import "base/banner.scss";
@import "base/common.scss";
@import "base/bottom.scss";
@import "base/wechat.scss";
@import "base/subscribe.scss";
@import "index.scss";
@import "contact.scss";
@import "press.scss";
@import "products.scss";
@import "speakers.scss";
@import "sessions.scss";
@import "travel.scss";
@import "supporters.scss";
@import "stand.scss";
@import "register.scss";
@import "gallery.scss";