* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: "Arial", "Microsoft Yahei";
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

html {
    height: 100%;
    width: 100%;
}

button {
    border: none;
    outline: none;
}

p {
    margin-bottom: 0;
}

ul,
li {
    list-style: none;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

input,
textarea {
    outline: none;
    resize: none;
}
img{
    width: auto;
}

.page{
    min-width: 1248px;
}
.shell{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.sz18 {
    font-size: 18px;
}

.content {
    min-width: 1140px;
}

.w1140 {
    margin: 0 100px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.tr {
    text-align: right;
}
.red_bg{
    background-color: #e50012;
}
.blue_bg{
    background-color: #053a7a;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.red{
    color: #e50012;
}
.layou_fixed{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.fixed_pos{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@import "index.scss";
@import "contact.scss";