// contact page scss
.pc_box{
    .travel{
        overflow: hidden;
        .center_box{
            margin-top: 80px;
            .bth_register {
                width: 380px;
                height: 70px;
                line-height: 70px;
                font-size: 24px;
                color: #fff;
                background-color: #aa010e;
                text-align: center;
                cursor: pointer;
                overflow: hidden;
                margin: 0 auto;
                .block{
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    overflow: hidden;
                }
            } 
            .bth_pdf{
                width: 380px;
                height: 266px;
                background-image: url(../assets/booth.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                margin: 0 auto;
                .tips{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    font-size: 18px;
                    background-color: rgba(0, 0, 0, 0.8);
                    text-align: center;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                } 
                .block{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                } 
            }                       
        }
    }
}
// mobile
.mobile_box{
    .travel{
        overflow: hidden;
        .text_box {
            .title{
                margin-bottom: 0;
            }
        }
        .center_box{
            margin-top: .8rem;
            .bth_register {
                width: 80%;
                height: .8rem;
                line-height: .8rem;
                font-size: .26rem;
                color: #fff;
                background-color: #aa010e;
                text-align: center;
                overflow: hidden;
                margin: 0 auto;
                .block{
                    color: #fff;
                    overflow: hidden;
                }
            }
            .bth_pdf{
                width: 5rem;
                height: 3.5rem;
                background-image: url(../assets/booth.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                margin: 0 auto;
                .tips{
                    width: 100%;
                    height: .4rem;
                    line-height: .4rem;
                    color: #fff;
                    font-size: .2rem;
                    background-color: rgba(0, 0, 0, 0.8);
                    text-align: center;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                }  
            }                       
        }
    }
}

